@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #B3050A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: 'Manrope', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Manrope', sans-serif;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}