@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --red: #B3050A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-red: var(--red);
  --font-sans: var(--font-manrope), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}
